################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
DeliasWebsite.Core/bin
DeliasWebsite.Core/obj
DeliasWebsite.Core/bin
DeliasWebsite.Core/obj
