@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockListItem<DevCard>>
@{
    var skills = Model?.Content?.Skills;
    var content = Model?.Content;
}
@if (skills?.Count() > 0)
{
    <div class="skill-category">
        <div class="category-header">
            <div class="category-icon">
                <i class="@content?.Icons"></i>
            </div>
            @if (!content.Title.IsNullOrWhiteSpace())
            {
                <h3 class="category-title">@content?.Title</h3>
            }
            <br />
        </div>
            <div class="skills-list">
                @foreach (var skill in skills)
                {
                    <div class="skill-item">
                        <div class="skill-header">
                            <span class="skill-name">@skill.Content.Value("skillText")</span><span class="skill-percentage">@skill.Content.Value("percentage")%</span>
                        </div><div class="skill-bar"><div class="skill-progress" style="width: @skill.Content.Value("percentage")%;"></div></div>
                    </div>

                }
            </div>
        
    </div>

}

