<?xml version="1.0" encoding="utf-8"?>
<Content Key="31e3eb54-fb2b-45c6-9e15-f03c461d8ab7" Alias="About me" Level="2">
  <Info>
    <Parent Key="1d379140-5e6c-4b54-8174-6e23ce784796">Home</Parent>
    <Path>/Home/AboutMe</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2025-06-08T12:10:17</CreateDate>
    <NodeName Default="About me" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ffb7fbf8-270c-47c1-8525-a18d661c7d27">Page</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromSitemp>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemp>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <renderComponents>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e2ce997914d1498894feb5b48d4c50b8"
      },
      {
        "contentUdi": "umb://element/c9ee6385b32840c582b080084cf5a468"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "59d53591-3e3a-40fb-8b5b-9f4c3a989f9f",
      "description": "Nulla dapibus feugiat suscipit. Cras gravida orci ac est vestibulum varius. Cras et arcu vitae justo porta aliquet. Sed eu malesuada libero, vel aliquam tellus. Curabitur egestas fermentum tellus, in hendrerit turpis tempus et. Donec non nulla augue. Fusce aliquam, neque id facilisis porta, dolor urna dignissim tortor, vel dignissim nisi nulla quis magna. Vestibulum non porttitor risus. Integer rutrum efficitur nisi, ut interdum nisl fringilla id. Maecenas et rhoncus elit, vel maximus eros. Sed finib",
      "featureItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ddb0d87d57c54a7da06b3d67a587bba5"
            },
            {
              "contentUdi": "umb://element/c6409f4a877e401281407b3d846897a8"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "87dbfaef-955a-4110-82a5-e19f7d79af74",
            "description": "Nulla dapibus feugiat suscipit. Cras gravida orci ac est vestibulum varius. Cras et arcu vitae justo porta aliquet. Sed eu malesuada libero, vel aliquam tellus. Curabitur egestas fermentum tellus, in hendrerit turpis tempus et. Donec non nulla augue. Fusce aliquam, neque id facilisis porta, dolor urna dignissim tortor, vel dignissim nisi nulla quis magna. Vestibulum non porttitor",
            "icon": [
              "fa-solid fa-server"
            ],
            "title": "Server",
            "udi": "umb://element/ddb0d87d57c54a7da06b3d67a587bba5"
          },
          {
            "contentTypeKey": "87dbfaef-955a-4110-82a5-e19f7d79af74",
            "description": "Nulla dapibus feugiat suscipit. Cras gravida orci ac est vestibulum varius. Cras et arcu vitae justo porta aliquet. Sed eu malesuada libero, vel a",
            "icon": [
              "fa-solid fa-palette"
            ],
            "title": "title 2",
            "udi": "umb://element/c6409f4a877e401281407b3d846897a8"
          }
        ],
        "settingsData": []
      },
      "image": [
        {
          "key": "bd64a3e7-4363-4e73-8c57-2093139af663",
          "mediaKey": "56ef6a3f-1036-4355-869b-e3e35bc6095b"
        }
      ],
      "title": {
        "markup": "<p>Title</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/c9ee6385b32840c582b080084cf5a468"
    },
    {
      "backgroundImage": [
        {
          "key": "352d0781-45f7-40c8-abc9-f3a7e135e995",
          "mediaKey": "d9accd5c-787c-4398-a7d7-f99ee9b17979"
        }
      ],
      "buttonTextTop": "",
      "contentTypeKey": "420c339b-64fa-417b-adfc-0f96290116bd",
      "cTAList": "",
      "header": {
        "markup": "<p>Title</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "hideScrollDownButton": "0",
      "sideImage": [],
      "subheader": "",
      "udi": "umb://element/e2ce997914d1498894feb5b48d4c50b8"
    }
  ],
  "settingsData": []
}]]></Value>
    </renderComponents>
    <tags>
      <Value><![CDATA[umb://document/b8d02ba5027245e196aeb5f6768ad629,umb://document/4b1c47fc334448c5b87c428d5f8397d0]]></Value>
    </tags>
  </Properties>
</Content>