<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8d02ba5-0272-45e1-96ae-b5f6768ad629" Alias="BE" Level="2">
  <Info>
    <Parent Key="d8a186a1-a606-4b8d-9440-659a5ad6d109">Tags</Parent>
    <Path>/Tags/BE</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2025-06-16T01:37:48</CreateDate>
    <NodeName Default="BE" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagName>
      <Value><![CDATA[BE]]></Value>
    </tagName>
  </Properties>
</Content>