<?xml version="1.0" encoding="utf-8"?>
<Content Key="3b3f82d0-61aa-4f7f-9954-cf7b44b24898" Alias="Blog" Level="2">
  <Info>
    <Parent Key="1d379140-5e6c-4b54-8174-6e23ce784796">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>articles</ContentType>
    <CreateDate>2025-07-17T00:42:14</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="62197fb7-c0f7-4e85-9c1f-5aad5b4a5b92">Articles</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromSitemp>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemp>
    <metaDescription>
      <Value><![CDATA[blogs about technology and umbraco]]></Value>
    </metaDescription>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <pageTitle>
      <Value><![CDATA[Blog]]></Value>
    </pageTitle>
    <renderComponents>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/852af87d2f82433bb04eb5ccdacaf7f6"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [
        {
          "key": "6c8c2edc-6635-4797-b16b-1c45c7b2b467",
          "mediaKey": "b0e7a9bd-03ef-44b5-9c2c-f1d7a2ace262"
        }
      ],
      "buttonTextTop": "",
      "contentTypeKey": "420c339b-64fa-417b-adfc-0f96290116bd",
      "cTAList": "",
      "header": {
        "markup": "<p>Blog</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "hideScrollDownButton": "1",
      "sideImage": [],
      "subheader": "",
      "textAlign": "0",
      "udi": "umb://element/852af87d2f82433bb04eb5ccdacaf7f6"
    }
  ],
  "settingsData": []
}]]></Value>
    </renderComponents>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>