<?xml version="1.0" encoding="utf-8"?>
<Content Key="4d1646e6-d9d3-4926-963a-83c79d85f394" Alias="Contact us" Level="2">
  <Info>
    <Parent Key="1d379140-5e6c-4b54-8174-6e23ce784796">Home</Parent>
    <Path>/Home/ContactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>contactForm</ContentType>
    <CreateDate>2025-06-18T01:44:28</CreateDate>
    <NodeName Default="Contact us" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8af19833-96ab-4d28-a2f1-dbef1b1eaa0e">ContactForm</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <email>
      <Value><![CDATA[]]></Value>
    </email>
    <hideFromNavigation>
      <Value><![CDATA[1]]></Value>
    </hideFromNavigation>
    <hideFromSitemp>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemp>
    <message>
      <Value><![CDATA[]]></Value>
    </message>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <nameFrom>
      <Value><![CDATA[]]></Value>
    </nameFrom>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <renderComponents>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0acb1ecddb1f4e05bd80913bd2f15e02"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [
        {
          "key": "51b37a84-05d2-4554-ada6-7835a9858e59",
          "mediaKey": "d9accd5c-787c-4398-a7d7-f99ee9b17979"
        }
      ],
      "buttonTextTop": "",
      "contentTypeKey": "420c339b-64fa-417b-adfc-0f96290116bd",
      "cTAList": "",
      "header": {
        "markup": "<p>Hire <span class=\"highligt\">me</span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "hideScrollDownButton": "0",
      "sideImage": [],
      "subheader": "",
      "udi": "umb://element/0acb1ecddb1f4e05bd80913bd2f15e02"
    }
  ],
  "settingsData": []
}]]></Value>
    </renderComponents>
    <subject>
      <Value><![CDATA[]]></Value>
    </subject>
    <submissionDate>
      <Value><![CDATA[]]></Value>
    </submissionDate>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>