<?xml version="1.0" encoding="utf-8"?>
<Content Key="bacf637a-ba51-4cf1-9eaa-0c8521426d30" Alias="Contact from Delia - 2025-06-21 01:19" Level="3">
  <Info>
    <Parent Key="6f17968b-131c-4a07-a0ed-8d53e21f456f">Forms</Parent>
    <Path>/Home/Forms/ContactFromDelia202506210119</Path>
    <Trashed>false</Trashed>
    <ContentType>contactForm</ContentType>
    <CreateDate>2025-06-21T02:19:19</CreateDate>
    <NodeName Default="Contact from Delia - 2025-06-21 01:19" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8af19833-96ab-4d28-a2f1-dbef1b1eaa0e">ContactForm</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <email>
      <Value><![CDATA[deliab93@icloud.com]]></Value>
    </email>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromSitemp>
      <Value><![CDATA[]]></Value>
    </hideFromSitemp>
    <message>
      <Value><![CDATA[jjj]]></Value>
    </message>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <nameFrom>
      <Value><![CDATA[Delia]]></Value>
    </nameFrom>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <renderComponents>
      <Value><![CDATA[]]></Value>
    </renderComponents>
    <subject>
      <Value><![CDATA[since when]]></Value>
    </subject>
    <submissionDate>
      <Value><![CDATA[2025-06-21 01:19:19Z]]></Value>
    </submissionDate>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>