<?xml version="1.0" encoding="utf-8"?>
<Content Key="b0743eaf-011f-4fb1-899f-cc37ca2e257c" Alias="Contact from hello - 2025-06-21 00:55 (1)" Level="3">
  <Info>
    <Parent Key="6f17968b-131c-4a07-a0ed-8d53e21f456f">Forms</Parent>
    <Path>/Home/Forms/ContactFromHello2025062100551</Path>
    <Trashed>false</Trashed>
    <ContentType>contactForm</ContentType>
    <CreateDate>2025-06-21T01:55:09</CreateDate>
    <NodeName Default="Contact from hello - 2025-06-21 00:55 (1)" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8af19833-96ab-4d28-a2f1-dbef1b1eaa0e">ContactForm</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <email>
      <Value><![CDATA[deliab93@yahoo.com]]></Value>
    </email>
    <hideFromNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromNavigation>
    <hideFromSitemp>
      <Value><![CDATA[]]></Value>
    </hideFromSitemp>
    <message>
      <Value><![CDATA[mm]]></Value>
    </message>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <nameFrom>
      <Value><![CDATA[hello]]></Value>
    </nameFrom>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <renderComponents>
      <Value><![CDATA[]]></Value>
    </renderComponents>
    <subject>
      <Value><![CDATA[project]]></Value>
    </subject>
    <submissionDate>
      <Value><![CDATA[2025-06-21 00:55:09Z]]></Value>
    </submissionDate>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>