<?xml version="1.0" encoding="utf-8"?>
<Content Key="7978ddc3-d6a7-4c72-9a04-14e8582353d6" Alias="Experience" Level="2">
  <Info>
    <Parent Key="1d379140-5e6c-4b54-8174-6e23ce784796">Home</Parent>
    <Path>/Home/Experience</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2025-06-15T12:18:30</CreateDate>
    <NodeName Default="Experience" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ffb7fbf8-270c-47c1-8525-a18d661c7d27">Page</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromSitemp>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemp>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <renderComponents>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/803fc9a81d8a417f85b414bf35ca9a54"
      },
      {
        "contentUdi": "umb://element/eda97858f4094f9b8c7fcd3be4bf5cb1"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [
        {
          "key": "d110a71a-32ff-4a62-bd21-d3f0ce9266fd",
          "mediaKey": "56ef6a3f-1036-4355-869b-e3e35bc6095b"
        }
      ],
      "buttonTextTop": "",
      "contentTypeKey": "420c339b-64fa-417b-adfc-0f96290116bd",
      "cTAList": "",
      "header": {
        "markup": "<p>Title my experience</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "hideScrollDownButton": "0",
      "sideImage": [],
      "subheader": "",
      "udi": "umb://element/803fc9a81d8a417f85b414bf35ca9a54"
    },
    {
      "contentTypeKey": "6b7357d8-8219-4cab-bdbe-cc860085deba",
      "experienceItemList": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/1dbec7284a3541d4adcf0d0c53a1a314"
            },
            {
              "contentUdi": "umb://element/07d3fac9dc8e4bd29f917b3e8ee83831"
            },
            {
              "contentUdi": "umb://element/22ee77b41ddd44b68396b76f083d3134"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4a90b23d-411b-477e-a354-ac7d3a56e08b",
            "description": "Built and upgraded Umbraco websites (v8–13) using ASP.NET and C#. Developed RESTful APIs, integrated Stripe for payments, and implemented custom admin features. Delivered full-stack components using Tailwind CSS, Sass, and HTML. Managed deployments with Azure DevOps, Git, and Azure Portal. Experience with SQL Server, authentication (OAuth/JWT), and performance optimization. Delivered scalable, secure CMS platforms.",
            "subtitle": ".Nexer Digital",
            "title": "Backend CMS Developer",
            "udi": "umb://element/1dbec7284a3541d4adcf0d0c53a1a314",
            "yearsActive": "2022-Present"
          },
          {
            "contentTypeKey": "4a90b23d-411b-477e-a354-ac7d3a56e08b",
            "description": "Designed, built, and maintained scalable web solutions using Umbraco CMS (v8–13+). Developed custom components and  REST APIs in C#/.NET Core, integrated React or Razor frontends, and optimized SQL Server performance. Implemented security best practices, CI/CD pipelines, and headless integrations. Collaborated with cross-functional teams to deliver responsive, SEO-friendly sites with rich editor experiences.",
            "subtitle": ".ITF(International Tennis Federation)",
            "title": "Junior Systems Developer",
            "udi": "umb://element/07d3fac9dc8e4bd29f917b3e8ee83831",
            "yearsActive": "2019-2022"
          },
          {
            "contentTypeKey": "4a90b23d-411b-477e-a354-ac7d3a56e08b",
            "description": "Managed data governance, quality control, and database operations. Curated and prepared datasets for internal and external research projects. Ensured GDPR compliance, streamlined reporting workflows, and supported data-driven decision-making across teams.",
            "subtitle": ".King's College Hospital",
            "title": "Data manager",
            "udi": "umb://element/22ee77b41ddd44b68396b76f083d3134",
            "yearsActive": "2016 - 2019"
          }
        ],
        "settingsData": []
      },
      "udi": "umb://element/eda97858f4094f9b8c7fcd3be4bf5cb1"
    }
  ],
  "settingsData": []
}]]></Value>
    </renderComponents>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>