<?xml version="1.0" encoding="utf-8"?>
<Content Key="4b1c47fc-3344-48c5-b87c-428d5f8397d0" Alias="FE" Level="2">
  <Info>
    <Parent Key="d8a186a1-a606-4b8d-9440-659a5ad6d109">Tags</Parent>
    <Path>/Tags/FE</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2025-06-16T01:37:14</CreateDate>
    <NodeName Default="FE" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagName>
      <Value><![CDATA[FE]]></Value>
    </tagName>
  </Properties>
</Content>