<?xml version="1.0" encoding="utf-8"?>
<Content Key="22ac006f-d5ab-483d-b6e2-6f0c273aad2c" Alias="First test article" Level="3">
  <Info>
    <Parent Key="3b3f82d0-61aa-4f7f-9954-cf7b44b24898">Blog</Parent>
    <Path>/Home/Blog/FirstTestArticle</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2025-07-17T00:43:27</CreateDate>
    <NodeName Default="First test article" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4b886c47-391f-47e2-8cad-4c3323d22c7f">Article</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value><![CDATA[{
  "markup": "<p>some body text</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bodyText>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <excerpt>
      <Value><![CDATA[test intro ]]></Value>
    </excerpt>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromSitemp>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemp>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "566a792c-387f-49b4-bd6c-f15c79238e01",
    "mediaKey": "c1c8e7f2-eb75-4fb7-8cfd-22e790b1a455"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <postDate>
      <Value><![CDATA[2025-07-16T00:00:00]]></Value>
    </postDate>
    <renderComponents>
      <Value><![CDATA[]]></Value>
    </renderComponents>
    <tags>
      <Value><![CDATA[umb://document/4b1c47fc334448c5b87c428d5f8397d0,umb://document/b8d02ba5027245e196aeb5f6768ad629]]></Value>
    </tags>
    <title>
      <Value><![CDATA[first test articles]]></Value>
    </title>
  </Properties>
</Content>