<?xml version="1.0" encoding="utf-8"?>
<Content Key="6f17968b-131c-4a07-a0ed-8d53e21f456f" Alias="Forms" Level="2">
  <Info>
    <Parent Key="1d379140-5e6c-4b54-8174-6e23ce784796">Home</Parent>
    <Path>/Home/Forms</Path>
    <Trashed>false</Trashed>
    <ContentType>contactSubmissionsFolder</ContentType>
    <CreateDate>2025-06-21T00:08:47</CreateDate>
    <NodeName Default="Forms" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>