<?xml version="1.0" encoding="utf-8"?>
<Content Key="96747efa-432d-4d05-acdb-58c8da5e2e5d" Alias="Search" Level="2">
  <Info>
    <Parent Key="1d379140-5e6c-4b54-8174-6e23ce784796">Home</Parent>
    <Path>/Home/Search</Path>
    <Trashed>false</Trashed>
    <ContentType>search</ContentType>
    <CreateDate>2025-07-02T23:40:30</CreateDate>
    <NodeName Default="Search" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cd99662f-e91c-4b5f-9fe8-0aefd5a0a35d">Search</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <hideFromSitemp>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemp>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <renderComponents>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/30b568d5c3444936b3834a017f7dca15"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [
        {
          "key": "ef3bb2b0-435f-4137-a118-72e4599869f7",
          "mediaKey": "4ee1cee1-04ab-4b7f-bc3a-6e431e71e5b3"
        }
      ],
      "buttonTextTop": "",
      "contentTypeKey": "420c339b-64fa-417b-adfc-0f96290116bd",
      "cTAList": "",
      "header": {
        "markup": "<p>Results</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "hideScrollDownButton": "1",
      "sideImage": [],
      "subheader": "",
      "udi": "umb://element/30b568d5c3444936b3834a017f7dca15"
    }
  ],
  "settingsData": []
}]]></Value>
    </renderComponents>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>