<?xml version="1.0" encoding="utf-8"?>
<Content Key="d8a186a1-a606-4b8d-9440-659a5ad6d109" Alias="Tags" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Tags</Path>
    <Trashed>false</Trashed>
    <ContentType>tags</ContentType>
    <CreateDate>2025-06-16T01:33:54</CreateDate>
    <NodeName Default="Tags" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>