<?xml version="1.0" encoding="utf-8"?>
<Content Key="87b50f54-2f84-48b9-b422-2af289e84f8c" Alias="Umbraco" Level="2">
  <Info>
    <Parent Key="d8a186a1-a606-4b8d-9440-659a5ad6d109">Tags</Parent>
    <Path>/Tags/Umbraco</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2025-07-19T16:03:43</CreateDate>
    <NodeName Default="Umbraco" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagName>
      <Value><![CDATA[Umbraco]]></Value>
    </tagName>
  </Properties>
</Content>