<?xml version="1.0" encoding="utf-8"?>
<Content Key="70b70f41-7c1d-48a3-9285-301245260b1d" Alias="Web development" Level="2">
  <Info>
    <Parent Key="d8a186a1-a606-4b8d-9440-659a5ad6d109">Tags</Parent>
    <Path>/Tags/WebDevelopment</Path>
    <Trashed>false</Trashed>
    <ContentType>tag</ContentType>
    <CreateDate>2025-07-19T16:03:31</CreateDate>
    <NodeName Default="Web development" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagName>
      <Value><![CDATA[Web development]]></Value>
    </tagName>
  </Properties>
</Content>