@use '../variables' as *;

.cookie-consent {
  padding: $spacing-6 0;
}

.cookie-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: $spacing-4;
}

.cookie-table th,
.cookie-table td {
  border: 1px solid $border-color;
  padding: $spacing-2;
  text-align: left;
}

.cookie-table th {
  background-color: $bg-secondary;
}

:root[data-theme='dark'] .cookie-table th,
:root[data-theme='dark'] .cookie-table td {
  border-color: $dark-border-color;
}

:root[data-theme='dark'] .cookie-table th {
  background-color: $dark-bg-secondary;
}
