<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf7ee859-1993-4473-8433-a43d99738c16" Alias="DFF29C47 514D 446A A1AC 57995C6293C2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DFF29C47514D446AA1AC57995C6293C2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-19T17:48:34</CreateDate>
    <NodeName Default="DFF29C47 514D 446A A1AC 57995C6293C2" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/l5uh3t2t/dff29c47-514d-446a-a1ac-57995c6293c2.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>