<?xml version="1.0" encoding="utf-8"?>
<Media Key="54a06f3d-db9c-4595-a5f9-c218a33971a3" Alias="Pexels Cookiecutter 1148820" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PexelsCookiecutter1148820</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-19T18:03:48</CreateDate>
    <NodeName Default="Pexels Cookiecutter 1148820" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hnxlave2/pexels-cookiecutter-1148820.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>