<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2609611-58ba-46c7-94dc-3f3c519c8f37" Alias="Pexels Luis Gomes 166706 546819 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PexelsLuisGomes1667065468191</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-19T17:54:16</CreateDate>
    <NodeName Default="Pexels Luis Gomes 166706 546819 (1)" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/c4lgbmv0/pexels-luis-gomes-166706-546819.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>