<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9accd5c-787c-4398-a7d7-f99ee9b17979" Alias="Pexels Divinetechygirl 1181325" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PexelsDivinetechygirl1181325</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-19T23:23:18</CreateDate>
    <NodeName Default="Pexels Divinetechygirl 1181325" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/llglzwl2/pexels-divinetechygirl-1181325.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>