<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0b38be5c-8947-4559-a1d4-f8ccf3051ad0" Alias="articles" Level="1">
  <Info>
    <Name>Articles</Name>
    <Icon>icon-newspaper-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="7599c26c-1306-4815-a277-387f6f44229a">settingsAndSeo</Composition>
    </Compositions>
    <DefaultTemplate>Articles</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="62197fb7-c0f7-4e85-9c1f-5aad5b4a5b92">Articles</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="74efbe7f-0feb-49fa-be27-c5c52a0cf212" SortOrder="0">article</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>2ff50227-114e-4f7e-9566-00ea1dee3120</Key>
      <Name>Render Components</Name>
      <Alias>renderComponents</Alias>
      <Definition>9d30b051-a253-4d1b-b593-0416f968de5c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5d18964b-59dd-499e-aa7e-3b3632067e5f</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>