<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="af46e082-3e7a-4d4d-a08d-34af0adff59d" Alias="contactSubmissionsFolder" Level="1">
  <Info>
    <Name>Contact Submissions Folder</Name>
    <Icon>icon-folder color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="1d1afa80-69e6-47cb-8e96-1cd51ff93317" SortOrder="0">contactForm</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>