<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="59d747bc-1340-4f4f-86c4-4638a513f685" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="7599c26c-1306-4815-a277-387f6f44229a">settingsAndSeo</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7d6cb97f-a128-433d-80ae-d498f2e2750e">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5d86df3c-4276-4be0-b182-bb4e4f873fb3" SortOrder="0">page</ContentType>
    <ContentType Key="1d1afa80-69e6-47cb-8e96-1cd51ff93317" SortOrder="1">contactForm</ContentType>
    <ContentType Key="af46e082-3e7a-4d4d-a08d-34af0adff59d" SortOrder="2">contactSubmissionsFolder</ContentType>
    <ContentType Key="1da0cccb-ce6a-472e-83a3-c98e8306c172" SortOrder="3">search</ContentType>
    <ContentType Key="0b38be5c-8947-4559-a1d4-f8ccf3051ad0" SortOrder="4">articles</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>6a7d1ed4-b27a-4b29-bcfa-21468171cd57</Key>
      <Name>Contact email</Name>
      <Alias>contactEmail</Alias>
      <Definition>54731a36-b07d-4d6d-9c74-9d11ddf63ac6</Definition>
      <Type>Umbraco.EmailAddress</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1c1eb9e1-1948-4a54-bbd0-e22d9f52084c</Key>
      <Name>Contact number</Name>
      <Alias>contactNumber</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1fb4d173-1672-4056-83e6-3bcdfe06ee05</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cacfaaa1-f7ce-4f09-965a-d019b76bccc8</Key>
      <Name>Hire me url</Name>
      <Alias>hireMeUrl</Alias>
      <Definition>5a2892a9-2b27-479b-b6f1-0ad5f24c22f1</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>53cb8796-e05a-46a1-b6f5-87bfed2a86cf</Key>
      <Name>Location</Name>
      <Alias>location</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>da9f965a-76f6-47a9-8a55-16c5fe2d12ca</Key>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cffe577e-7fba-465b-af33-4947c78e59e4</Key>
      <Name>Quick links</Name>
      <Alias>quickLinks</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2215c30d-67a0-45e9-83c4-a51e27d5d593</Key>
      <Name>Render Components</Name>
      <Alias>renderComponents</Alias>
      <Definition>9d30b051-a253-4d1b-b593-0416f968de5c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ffac4279-403b-4a8f-bd04-f9bba6ba30f8</Key>
      <Name>Services</Name>
      <Alias>services</Alias>
      <Definition>f46dc7ea-773c-4e95-abe0-7a505bb80b86</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0309807d-a21f-4ac9-a36c-aefe47b013c7</Key>
      <Name>Social Media Items</Name>
      <Alias>socialMediaItems</Alias>
      <Definition>1ecf9f00-b704-423f-bd2b-7abc4b992f37</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3663d8f3-5396-4ec2-8ed6-83f0c3c7d72e</Key>
      <Caption>Footer</Caption>
      <Alias>footer</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>914dce04-ffb8-4a43-a1f3-5321f16bde15</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>