<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="aa94a8d5-e5bd-488d-ae1b-a65ad7fd498f" Alias="tags" Level="2">
  <Info>
    <Name>Tags</Name>
    <Icon>icon-tags color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="62f501af-08b4-4877-97d6-d4131b731fd0" SortOrder="0">tag</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>