@* @inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage<IEnumerable<DeliasWebsite.Core.Features.Search.SearchResultModel>>
@using DeliasWebsite.Core.Features.Search
@{
   // Layout = "~/Views/Master.cshtml";
    var query = ViewBag.Query as string;
}

<section class="search-results container">
    <h1 class="search-results__title">Search Results for: <span class="search-results__query">@query</span></h1>

    @if (!Model.Any())
    {
        <p class="search-results__empty">No results found.</p>
    }
    else
    {
        <ul class="search-results__list">
            @foreach (var item in Model)
            {
                <li class="search-results__item">
                    <a href="@item.Url" class="search-results__link">
                        <div class="search-results__item-title">@item.Title</div>
                    </a>
                    <p class="search-results__excerpt">@item.Snippet</p>
                </li>
            }
        </ul>
    }
</section>
 *@