@inherits UmbracoViewPage
@{
    IPublishedContent rootNode = Model.Root();
    Search? searchResultsPage = rootNode.Children<Search>()?.FirstOrDefault();
    string? query = Context.Request.Query["q"];
    string? idComplement = ViewData["idComplement"]?.ToString() ?? "";
    var searchId = $"search{idComplement}";
}

@if (searchResultsPage != null)
{
    <div class="search-toggle-form" >
       
        <button type="button" class="search-toggle-icon" aria-label="Toggle search">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>


        <form action="@searchResultsPage.Url()" method="get">
            <input type="search"
                   id="@searchId"
                   name="q"
                   placeholder="Search"
                   class="search-toggle-input"
                   autocomplete="off" />
        </form>
    </div>
}

