<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5e3f046b-0e20-40af-898a-aa41a96db0ff" Alias="Article - Excerpt - Textarea" Level="1">
  <Info>
    <Name>Article - Excerpt - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>