<?xml version="1.0" encoding="utf-8"?>
<DataType Key="860eb730-5ea2-4cf2-97a7-c3795d11bffe" Alias="Card - CardUrl - Multi URL Picker" Level="1">
  <Info>
    <Name>Card - CardUrl - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>