<?xml version="1.0" encoding="utf-8"?>
<DataType Key="257c5529-a6b5-4867-9634-28897515195e" Alias="Card - Text - Textbox" Level="1">
  <Info>
    <Name>Card - Text - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>