<?xml version="1.0" encoding="utf-8"?>
<DataType Key="987b3dd2-a30f-476b-ad43-7c7d8bda0c27" Alias="Contact section - Message - Textarea" Level="1">
  <Info>
    <Name>Contact section - Message - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>