<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a203af3e-de86-49de-86a7-b7c58277e874" Alias="Contact section - Submission Date - Label" Level="1">
  <Info>
    <Name>Contact section - Submission Date - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "DATETIME"
}]]></Config>
</DataType>