<?xml version="1.0" encoding="utf-8"?>
<DataType Key="169a15f0-16fd-4a8e-a091-47009f21f3cf" Alias="Contact form - Message - Textarea" Level="1">
  <Info>
    <Name>Contact form - Message - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>