<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b7eb0514-8b73-4ab4-accb-d15e0b401049" Alias="Contact form - Hide from navigation - Toggle" Level="1">
  <Info>
    <Name>Contact form - Hide from navigation - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>