<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5fa4fa98-d508-4c2e-af2a-9030ec6bbc00" Alias="Contact form - Submission Date - Label (1)" Level="1">
  <Info>
    <Name>Contact form - Submission Date - Label (1)</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>