<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7e43dbd7-31eb-4a09-a318-c80a057485ae" Alias="Contact form - Message - Textbox" Level="1">
  <Info>
    <Name>Contact form - Message - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>