<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2287c2a7-13e6-4f94-b2f5-02ce27248d18" Alias="Contact form - Send to email - Email address" Level="1">
  <Info>
    <Name>Contact form - Send to email - Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>