<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c0c1955b-57e1-4ebb-9f1c-bf44e9f7646e" Alias="Contact form - Submission Date - Label" Level="1">
  <Info>
    <Name>Contact form - Submission Date - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>