<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e81ea0c0-f1fe-4bf4-9530-27f63c112cc9" Alias="CTAButton - Style - Dropdown" Level="1">
  <Info>
    <Name>CTAButton - Style - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "btn btn-primary"
    },
    {
      "id": 2,
      "value": "btn btn-secondary"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>