<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7a10ca50-9d24-430c-a73e-70d99366261d" Alias="CTAButton - CTA - Multi URL Picker" Level="1">
  <Info>
    <Name>CTAButton - CTA - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>