<?xml version="1.0" encoding="utf-8"?>
<DataType Key="92da56cf-04c5-4398-8cfb-ba9dcbbc5b2f" Alias="DevCard - Icons - Dropdown" Level="1">
  <Info>
    <Name>DevCard - Icons - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "fa-solid fa-code"
    },
    {
      "id": 2,
      "value": "fa-solid fa-server"
    },
    {
      "id": 3,
      "value": "fa-solid fa-database"
    },
    {
      "id": 4,
      "value": "fa-solid fa-palette"
    },
    {
      "id": 5,
      "value": "fa-solid fa-mobile-screen-button"
    },
    {
      "id": 6,
      "value": "fa-solid fa-globe"
    },
    {
      "id": 7,
      "value": "fa-solid fa-check text-green-500"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>