<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7c82e02a-b64c-4819-a99c-2df646d1787e" Alias="DevCard - Description - Rich Text Editor" Level="1">
  <Info>
    <Name>DevCard - Description - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "Editor": {
    "toolbar": [
      "ace",
      "removeformat",
      "undo",
      "styles",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "unlink",
      "anchor",
      "umbmediapicker",
      "umbmacro",
      "umbembeddialog"
    ],
    "stylesheets": [
      "/css/styles.css"
    ],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>