<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ebb1799c-f655-4ed6-8b35-3993e410a1cf" Alias="Hero - Text align - Toggle" Level="1">
  <Info>
    <Name>Hero - Text align - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "Left",
  "LabelOn": "Center",
  "ShowLabels": true
}]]></Config>
</DataType>