<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ab28238d-c50d-4197-984f-ef067fa6aba7" Alias="Hero - Hide scroll down button - Toggle" Level="1">
  <Info>
    <Name>Hero - Hide scroll down button - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>