<?xml version="1.0" encoding="utf-8"?>
<DataType Key="54731a36-b07d-4d6d-9c74-9d11ddf63ac6" Alias="Home - Contact email - Email address" Level="1">
  <Info>
    <Name>Home - Contact email - Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>