<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5a2892a9-2b27-479b-b6f1-0ad5f24c22f1" Alias="Home - Hire me url - Multi URL Picker" Level="1">
  <Info>
    <Name>Home - Hire me url - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>