<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f46dc7ea-773c-4e95-abe0-7a505bb80b86" Alias="Home - Services - Repeatable textstrings" Level="1">
  <Info>
    <Name>Home - Services - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>