<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2047015b-754c-4e2f-bd01-f175967841f4" Alias="Settings and Seo - Hide from sitemp - Toggle" Level="1">
  <Info>
    <Name>Settings and Seo - Hide from sitemp - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>