<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7e238422-f6b4-46fd-bf17-5b74bdf6a46d" Alias="Settings and Seo - Hide from navigation - Toggle" Level="1">
  <Info>
    <Name>Settings and Seo - Hide from navigation - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>