<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cb0921b0-e89e-4489-8602-5dedb23bd1a0" Alias="Settings and Seo - Meta description - Textarea" Level="1">
  <Info>
    <Name>Settings and Seo - Meta description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>