<?xml version="1.0" encoding="utf-8"?>
<DataType Key="48507f20-83eb-4110-85bb-8a45bda27599" Alias="Settings and Seo - Keywords - Textarea" Level="1">
  <Info>
    <Name>Settings and Seo - Keywords - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": 3
}]]></Config>
</DataType>