<?xml version="1.0" encoding="utf-8"?>
<DataType Key="03362b04-fc6c-4756-bef0-004a6a4d1c3b" Alias="Skill - Percentage - Textbox" Level="1">
  <Info>
    <Name>Skill - Percentage - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>