<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7f60bbcb-dfda-4489-9208-80cecd7fcf23" Alias="Social Media Item - Url - Multi URL Picker" Level="1">
  <Info>
    <Name>Social Media Item - Url - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>