<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f94946de-1e47-4290-adc1-e53d4dbb83b1" Alias="Social Media Item - Image - Dropdown" Level="1">
  <Info>
    <Name>Social Media Item - Image - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "fa-brands fa-github"
    },
    {
      "id": 2,
      "value": "fa-brands fa-youtube"
    },
    {
      "id": 3,
      "value": "fa-brands fa-whatsapp"
    },
    {
      "id": 4,
      "value": "fa-brands fa-pinterest"
    },
    {
      "id": 5,
      "value": "fa-brands fa-linkedin"
    },
    {
      "id": 6,
      "value": "fa-brands fa-instagram"
    },
    {
      "id": 7,
      "value": "fa-brands fa-x-twitter"
    },
    {
      "id": 8,
      "value": "fa-brands fa-facebook"
    },
    {
      "id": 9,
      "value": "fa-brands fa-telegram"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>