<?xml version="1.0" encoding="utf-8"?>
<DataType Key="54f24049-0469-43fa-b9a8-f9ed98bf6644" Alias="Tags - Multinode Treepicker" Level="1">
  <Info>
    <Name>Tags - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "tag",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/d8a186a1a6064b8d9440659a5ad6d109",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>