<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9ab935c7-fd2d-45bb-930f-02d48789a87b" Alias="Two column section - Description - Textarea" Level="1">
  <Info>
    <Name>Two column section - Description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>