@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Article>
@{
	Layout = "~/Views/Master.cshtml"; 
    var imgUrl = Model?.MainImage?.Url() + "&format=webp";
}
<main class="article">
    <header class="article-header">
        <h1>@Model?.Title</h1>
        <div class="article-meta">
            @if(!string.IsNullOrEmpty(Model?.Author))
            {
                <span>By @Model?.Author ▪ </span>
            }        
            <time datetime="@Model?.PostDate">@Model?.PostDate.ToString("MMMM dd, yyyy")</time>
        </div>
        @if (!string.IsNullOrEmpty(Model?.Excerpt))
        {
            <p class="article-excerpt">@Model.Excerpt</p>
        }
    </header>
    <img src="@imgUrl" alt="@Model?.Title" class="article-image" />
    <div class="article-content">
        @Html.Raw(Model.BodyText)
    </div>
        <div class="article-tags">
            @if (Model?.Tags != null && Model.Tags.Any())
            {
                <span>Tags: </span>
                @foreach (var tag in Model.Tags)
                {
                    <div class="article-tag">@tag.Name</div>
                }
            }
       </div>
</main>

