@{
    Layout = "Master.cshtml";
}
<section class="cookie-consent">
    <div class="container">
        <h1>Cookie Consent</h1>
        <p>This website uses cookies. We use cookies to personalise content and ads, to provide social media features and to analyse our traffic. We also share information about your use of our site with our social media, advertising and analytics partners who may combine it with other information that you’ve provided to them or that they’ve collected from your use of their services.</p>

        <div class="consent-selection">
            <h2>Consent Selection</h2>
            <label><input type="checkbox" checked disabled> Necessary</label>
            <label><input type="checkbox"> Preferences</label>
            <label><input type="checkbox"> Statistics</label>
            <label><input type="checkbox"> Marketing</label>
        </div>

        <p>This page lists the cookies used on DeliasPortfolio.</p>
        <table class="cookie-table">
            <thead>
                <tr>
                    <th>Tracker name</th>
                    <th>Provider</th>
                    <th>Category</th>
                    <th>Domain</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ai_user</td>
                    <td>www.deliasportfolio.com</td>
                    <td>Statistics</td>
                    <td>www.deliasportfolio.com</td>
                </tr>
                <tr>
                    <td>_ga_#</td>
                    <td>deliasportfolio.com</td>
                    <td>Marketing</td>
                    <td>www.deliasportfolio.com</td>
                </tr>
                <tr>
                    <td>_ga</td>
                    <td>deliasportfolio.com</td>
                    <td>Marketing</td>
                    <td>www.deliasportfolio.com</td>
                </tr>
                <tr>
                    <td>ai_session</td>
                    <td>www.deliasportfolio.com</td>
                    <td>Necessary</td>
                    <td>www.deliasportfolio.com</td>
                </tr>
                <tr>
                    <td>CookieConsent</td>
                    <td>www.deliasportfolio.com</td>
                    <td>Necessary</td>
                    <td>www.deliasportfolio.com</td>
                </tr>
                <tr>
                    <td>ARRAffinity</td>
                    <td>deliasportfolio-d7b0gka5e0e9a5cg.uksouth-01.azurewebsites.net</td>
                    <td>Necessary</td>
                    <td>www.deliasportfolio.com</td>
                </tr>
                <tr>
                    <td>ARRAffinitySameSite</td>
                    <td>deliasportfolio-d7b0gka5e0e9a5cg.uksouth-01.azurewebsites.net</td>
                    <td>Necessary</td>
                    <td>www.deliasportfolio.com</td>
                </tr>
                <tr>
                    <td>theme</td>
                    <td>www.deliasportfolio.com</td>
                    <td>Necessary</td>
                    <td>www.deliasportfolio.com</td>
                </tr>
                <tr>
                    <td>AI_sentBuffer</td>
                    <td>js.monitor.azure.com</td>
                    <td>Necessary</td>
                    <td>www.deliasportfolio.com</td>
                </tr>
                <tr>
                    <td>AI_buffer</td>
                    <td>js.monitor.azure.com</td>
                    <td>Necessary</td>
                    <td>www.deliasportfolio.com</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
