@{
    Layout = "Master.cshtml";
}
<section class="cookie-consent">
    <div class="container">
        <h1>Cookie Consent</h1>
        <p>This page lists the cookies used on DeliasPortfolio.</p>
        <table class="cookie-table">
            <thead>
                <tr>
                    <th>Tracker name</th>
                    <th>Provider</th>
                    <th>Category</th>
                    <th>Domain</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ai_user</td>
                    <td>www.deliasportfolio.com</td>
                    <td>Statistics</td>
                    <td>www.deliasportfolio.com</td>
                </tr>
                <tr>
                    <td>_ga_#</td>
                    <td>deliasportfolio.com</td>
                    <td>Marketing</td>
                    <td>www.deliasportfolio.com</td>
                </tr>
                <tr>
                    <td>_ga</td>
                    <td>deliasportfolio.com</td>
                    <td>Marketing</td>
                    <td>www.deliasportfolio.com</td>
                </tr>
                <tr>
                    <td>ai_session</td>
                    <td>www.deliasportfolio.com</td>
                    <td>Necessary</td>
                    <td>www.deliasportfolio.com</td>
                </tr>
                <tr>
                    <td>CookieConsent</td>
                    <td>www.deliasportfolio.com</td>
                    <td>Necessary</td>
                    <td>www.deliasportfolio.com</td>
                </tr>
                <tr>
                    <td>ARRAffinity</td>
                    <td>deliasportfolio-d7b0gka5e0e9a5cg.uksouth-01.azurewebsites.net</td>
                    <td>Necessary</td>
                    <td>www.deliasportfolio.com</td>
                </tr>
                <tr>
                    <td>ARRAffinitySameSite</td>
                    <td>deliasportfolio-d7b0gka5e0e9a5cg.uksouth-01.azurewebsites.net</td>
                    <td>Necessary</td>
                    <td>www.deliasportfolio.com</td>
                </tr>
                <tr>
                    <td>theme</td>
                    <td>www.deliasportfolio.com</td>
                    <td>Necessary</td>
                    <td>www.deliasportfolio.com</td>
                </tr>
                <tr>
                    <td>AI_sentBuffer</td>
                    <td>js.monitor.azure.com</td>
                    <td>Necessary</td>
                    <td>www.deliasportfolio.com</td>
                </tr>
                <tr>
                    <td>AI_buffer</td>
                    <td>js.monitor.azure.com</td>
                    <td>Necessary</td>
                    <td>www.deliasportfolio.com</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
